In [1]:
% cd ..

/Users/calebcastleberry/Documents/GitHub/kaggle_talkdata/notebooks

In [2]:
% cd ..

/Users/calebcastleberry/Documents/GitHub/kaggle_talkdata

In [4]:
import pandas as pd
import os

In [6]:
data_path = os.path.join('data', 'processed')
train_path = os.path.join(data_path, 'train1.csv')

In [8]:
train_df = pd.read_csv(train_path)

In [9]:
train_df.head()

,app,channel,click_id,device,ip,is_attributed,os,hour,day,X0,...,ip_tcount,ip_app_count,ip_app_os_count,ip_tchan_count,ip_app_os_var,ip_app_channel_var_day,ip_app_channel_mean_hour,ip_app_channel_mean_attrib,nextClick,nextClick_shift
0,3,379,NaN,1,83230,0.0,13,14,6,1,...,1,1,1,0.0,0.0,0.0,14.0,0.0,1.490021e+09,0.000000e+00
1,3,379,NaN,1,17357,0.0,19,14,6,3,...,1,3,2,0.5,40.5,0.0,14.5,0.0,2.259710e+05,1.490021e+09
2,3,379,NaN,1,35810,0.0,13,14,6,1,...,1,1,1,0.0,0.0,0.0,14.0,0.0,1.490021e+09,2.259710e+05
3,14,478,NaN,1,45745,0.0,13,14,6,15,...,1,4,2,0.0,2.0,0.0,14.0,0.0,5.110000e+03,1.490021e+09
4,3,379,NaN,1,161007,0.0,13,14,6,1,...,1,1,1,0.0,0.0,0.0,14.0,0.0,1.490021e+09,5.110000e+03